<head th:fragment = "headTLFR">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${title}"></title>

    <!-- link bootstrp css -->
    <link rel="stylesheet" href="resources/bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link bootsrtap js file -->
    <script src="resources/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- common css -->
    <link rel="stylesheet" href="resources/CSSfiles/common.css">

    <!-- link table common fuction js file -->
    <script src="resources/CommonFnfiles/tableCommonFunction.js"></script>

    <!-- link valiidation file  -->
    <script src="resources/CommonFnfiles/validationFn.js"></script>

    <!-- link common fn -->
    <script src="resources/CommonFnfiles/commonFn.js"></script>

    <!-- link jquery  -->
    <script src="resources/CommonFnfiles/jQuery.js"></script>

    <!-- link DATATABLE JQUERY CSS  -->
    <link rel="stylesheet" href="resources/datatables-1.13.6/css/jquery.dataTables.css">

     <!-- link DATATABLE JQUERY JS -->
     <script src="resources/datatables-1.13.6/js/jquery.dataTables.js"></script>
 

</head>