<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new login</title>

    <!-- link bootstrp css -->
    <link rel="stylesheet" href="resources/bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link bootsrtap js file -->
    <script src="resources/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8 card flex-row mx-auto">
                <!-- <div class="img-left d-none d-md-flex align-items-center justify-content-center">
                   
                </div> -->

                <div class="card-body">
                    <h4 class="title text-center mt-4">Log Into Account</h4>

                    <form action="login" method="post" class="form-box px-3">

                        <div class="form-input">
                            <input class="form-control form-input" name="email" type="email" placeholder="Enter Your Email" autocomplete="off" required>
                        </div>

                        <div class="form-input">
                            <input class="form-control form-input" name="password" type="password" placeholder="Password" autocomplete="off" required>
                        </div>

                        <div class="row mb-3">
                            <button type="submit" class="col-12 btn btn-primary mx-auto">Login</button>
                        </div>

                        <div class="mt-2 mb-2">
                            <p class="text-primary text-center">Or</p>
                        </div>

                        <!-- <div class="row mb-3">
                            <button type="submit" class="col-12 btn btn-primary mx-auto">Sign Up</button>
                        </div> -->

                        <div class="text-danger fw-bold text-center" th:if="${param.error}">
                            Invalid Username & Password!
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>



</html>