<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <!-- link bootstrp css -->
    <link rel="stylesheet" href="resources/bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link bootsrtap js file -->
    <script src="resources/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- link common fn -->
    <script src="resources/CommonFnfiles/commonFn.js"></script>

    <!-- link jquery  -->
    <script src="resources/CommonFnfiles/jQuery.js"></script>

</head>

<body>
    <!-- main signup form -->
    <form id="signupForm" onsubmit="return false" class="bg-light p-2">
        <div class="row mt-2">
            <div class="col-4">
                <label class="form-lable fw-bold" for="email">Email:</label>
            </div>

            <div class="col-8">
                <input class="form-control form-input" type="email" id="initialEmail" required
                    onkeyup="validateEmail();">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4">
                <label class="form-lable fw-bold" for="password">Password:</label>
            </div>

            <div class="col-8">
                <input class="form-control form-input" type="password" id="intialPassword" required>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4">
                <label class="form-lable fw-bold" for="password">Confirm Password:</label>
            </div>

            <div class="col-8">
                <input class="form-control form-input" type="password" id="passwordReType" required
                    onkeyup="validatePw(this);">
            </div>
        </div>

        <div class="row col-4 mx-auto text-center mt-4">
            <button class="btn btn-info" type="submit" onclick="submitEmailToVerify();">Continue</button>
        </div>

        <!-- hidden -->
        <div class="spinner-border text-info" id="loadingSpinner" style="display: none;"></div>

    </form>
    <!-- main signup form ends-->

    <!-- verify otp form -->
    <form onsubmit="return false" id="verifyOTPForm" class="d-none">
        <div class="row mt-2 mx-auto">
            <div class="col-4">
                <label class="form-lable fw-bold" for="inputOTP">OTP:</label>
            </div>

            <div class="col-4">
                <input class="form-control form-input" type="number" id="inputOTP" required>
            </div>

            <div class="row col-2 mx-auto text-center mt-2">
                <button class="btn btn-info" type="submit" onclick="submitOTP();">Verify</button>
            </div>
        </div>
    </form>
    <!-- verify otp form ends -->


</body>

<script>
    //create an empty object to bind values so later we can send that in a ajax post request
    window.addEventListener('load', () => {
        userObj = new Object;
        otpVrfcnObj = new Object;
    });

    //validate email
    const validateEmail = () => {
        const regPatternForEmail = new RegExp('^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$');

        if (initialEmail.value !== "") {
            if (regPatternForEmail.test(initialEmail.value)) {
                userObj.email = initialEmail.value;
                initialEmail.style.border = "2px solid lime";
            } else {
                initialEmail.style.border = "2px solid red";
                userObj.email = null;
            }
        } else {
            initialEmail.style.border = "2px solid red";
            userObj.email = null;
        }
    };


    const submitEmailToVerify = () => {

        document.getElementById("loadingSpinner").style.display = "block ";
        //send email & pw addr to backend by ajax
        let postServiceResponse = ajaxRequest('/user/initialsignup', 'post', userObj)
        if (postServiceResponse == "OK") {

            document.getElementById("loadingSpinner").style.display = "none";
            alert('check your email and enter the OTP recieved');
            document.getElementById("verifyOTPForm").classList.remove("d-none")

        } else {

            document.getElementById("loadingSpinner").style.display = "none";
            alert("An error occured \n" + postServiceResponse);
        }
    }

    //validate pw
    const validatePw = (fieldId) => {
        if (intialPassword.value == fieldId.value) {
            fieldId.style.border = "2px solid lime";
            userObj.password = fieldId.value;
        } else {
            fieldId.style.border = "2px solid red";
            userObj.password = null;
        }
    }

    const submitOTP = () => {
        const inputOtp = document.getElementById("inputOTP").value;
        const email = userObj.email;

        otpVrfcnObj = {
            token: inputOtp,
            email: email
        };

        let otpResponse = ajaxRequest('/user/verifyOtp', 'post', otpVrfcnObj);

        if (otpResponse == "OTP verified successfully.") {
            alert("Verification successful! You are now registered.");
          
        } else {
            alert("Verification failed: " + otpResponse);
        }

    }
</script>

</html>